# Setup

In [1]:
import pandas as pd
import numpy as np
import os

In [20]:
version_1_path = local_path = os.path.expanduser('~/Documents/UChicago_MADS/general_datasets/athletes.csv')

# lakeFS

In [ ]:
ENDPOINT = "http://127.0.0.1:8000/"
ACCESS_KEY = "AKIAIOSFOLQUICKSTART"
SECRET_KEY = "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"

## Create a branch called version 1, add csv to that branch, commit the change

In [17]:
! lakectl branch create lakefs://athletes/assignment_1 --source lakefs://athletes/main

Source ref: lakefs://athletes/main
created branch 'assignment_1' 06669d47eea5d80e8abfd9001678f6d6093aed906f20ffa800e06a94a4de60d5

In [18]:
! lakectl fs upload -s /Users/jackploshnick/Documents/UChicago_MADS/general_datasets/athletes.csv lakefs://athletes/assignment_1/athletes.csv

Path: athletes.csv
Modified Time: 2025-10-08 20:53:22 -0400 EDT
Size: 71546909 bytes
Human Size: 71.5 MB
Physical Address: local:///Users/jackploshnick/lakefs/data/block/athletes/data/g5k0f2aclaagorkjdik0/d3jgf0iclaagorkjdjk0
Checksum: ade8057a9ad4350dfade9180f021a96d
Content-Type: application/octet-stream

In [19]:
! lakectl commit lakefs://athletes/assignment_1 -m "Add version_1 dataset"

Branch: lakefs://athletes/assignment_1
Commit for branch "assignment_1" completed.

ID: 841fce37ea99fe9bfda4343836973cb4525e5791fa298c41b789c66d204eed76
Message: Add version_1 dataset
Timestamp: 2025-10-08 20:53:23 -0400 EDT
Parents: 06669d47eea5d80e8abfd9001678f6d6093aed906f20ffa800e06a94a4de60d5

## update the dataet, make a new commit

In [ ]:
data = pd.read_csv(version_1_path)

# Remove not relevant columns
data = data.dropna(subset=['region','age','weight','height','howlong','gender','eat', \
                            'train','background','experience','schedule','howlong', \
                            'deadlift','candj','snatch','backsq','experience',\
                            'background','schedule','howlong'])
data = data.drop(columns=['affiliate','team','name','athlete_id','fran','helen','grace',\
                            'filthy50','fgonebad','run400','run5k','pullups','train'])

# Remove Outliers

data = data[data['weight'] < 1500]
data = data[data['gender'] != '--']
data = data[data['age'] >= 18]
data = data[(data['height'] < 96) & (data['height'] > 48)]

data = data[(data['deadlift'] > 0) & (data['deadlift'] <= 1105)|((data['gender'] == 'Female') \
                & (data['deadlift'] <= 636))]
data = data[(data['candj'] > 0) & (data['candj'] <= 395)]
data = data[(data['snatch'] > 0) & (data['snatch'] <= 496)]
data = data[(data['backsq'] > 0) & (data['backsq'] <= 1069)]

# Clean Survey Data

decline_dict = {'Decline to answer|': np.nan}
data = data.replace(decline_dict)
data = data.dropna(subset=['background','experience','schedule','howlong','eat'])

data.to_csv('/Users/jackploshnick/Documents/UChicago_MADS/general_datasets/athletes_v2.csv', index=False)

In [26]:
! lakectl fs upload -s /Users/jackploshnick/Documents/UChicago_MADS/general_datasets/athletes_v2.csv lakefs://athletes/assignment_1/athletes.csv

Path: athletes.csv
Modified Time: 2025-10-08 20:57:16 -0400 EDT
Size: 10774960 bytes
Human Size: 10.8 MB
Physical Address: local:///Users/jackploshnick/lakefs/data/block/athletes/data/g5k0f2aclaagorkjdik0/d3jggr2claagorkjdjm0
Checksum: a813ac219d50c5af4de214f4609e5f69
Content-Type: application/octet-stream

In [27]:
! lakectl commit lakefs://athletes/assignment_1 -m "Add version_2 dataset"

Branch: lakefs://athletes/assignment_1
Commit for branch "assignment_1" completed.

ID: 051e28fb395aeecd90f8647357640d1777f246b7e8d0acefee1416f95adf9747
Message: Add version_2 dataset
Timestamp: 2025-10-08 20:57:19 -0400 EDT
Parents: 841fce37ea99fe9bfda4343836973cb4525e5791fa298c41b789c66d204eed76

## Get version 1, do eda, run model

In [33]:
import pandas as pd
import subprocess
from io import StringIO

# Replace <commit_id> with your actual first commit ID
commit_id = "841fce37ea99fe9bfda4343836973cb4525e5791fa298c41b789c66d204eed76"

# Cat the file from that commit
result = subprocess.run(
    ['lakectl', 'fs', 'cat', f'lakefs://athletes/{commit_id}/athletes.csv'],
    capture_output=True,
    text=True
)

# Read directly into pandas
df = pd.read_csv(StringIO(result.stdout))

df.describe()

,athlete_id,age,height,weight,fran,helen,grace,filthy50,fgonebad,run400,run5k,candj,snatch,deadlift,backsq,pullups
count,423003.000000,331110.000000,1.598690e+05,229890.000000,5.542600e+04,3.027900e+04,4.074500e+04,1.935900e+04,2.973800e+04,2.224600e+04,3.609700e+04,1.044350e+05,9.728000e+04,1.153230e+05,1.105170e+05,5.060800e+04
mean,292748.166538,32.516750,1.206217e+02,170.896137,9.886691e+02,1.207950e+03,5.766025e+02,2.127863e+03,1.472252e+03,5.241279e+02,3.411464e+03,2.709107e+02,2.424957e+02,6.970503e+02,5.852109e+02,4.269613e+04
std,184969.660327,7.730671,2.097995e+04,58.379799,7.200430e+04,6.824091e+04,4.891145e+04,6.055021e+04,9.762688e+04,5.628804e+04,1.251980e+05,2.596882e+04,2.708942e+04,5.523235e+04,5.052976e+04,9.546078e+06
min,82.000000,13.000000,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,-6.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-4.500000e+01,0.000000e+00,-5.000000e+02,-7.000000e+00,-6.000000e+00
25%,135091.500000,27.000000,6.600000e+01,145.000000,2.150000e+02,5.250000e+02,1.490000e+02,1.308000e+03,2.400000e+02,6.200000e+01,1.242000e+03,1.400000e+02,1.050000e+02,2.550000e+02,2.050000e+02,1.500000e+01
50%,275839.000000,31.000000,6.900000e+01,170.000000,2.900000e+02,5.950000e+02,1.930000e+02,1.550000e+03,2.940000e+02,7.100000e+01,1.380000e+03,1.950000e+02,1.450000e+02,3.450000e+02,2.750000e+02,2.700000e+01
75%,473188.000000,37.000000,7.200000e+01,192.000000,3.920000e+02,6.940000e+02,2.620000e+02,1.809000e+03,3.360000e+02,8.400000e+01,1.560000e+03,2.350000e+02,1.850000e+02,4.150000e+02,3.350000e+02,3.900000e+01
max,633083.000000,125.000000,8.388607e+06,20175.000000,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,8.388607e+06,2.147484e+09

In [37]:
df.head()

,athlete_id,name,region,team,affiliate,gender,age,height,weight,fran,...,snatch,deadlift,backsq,pullups,eat,train,background,experience,schedule,howlong
0,2554.0,Pj Ablang,South West,Double Edge,Double Edge CrossFit,Male,24.0,70.0,166.0,NaN,...,NaN,400.0,305.0,NaN,NaN,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|I r...,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|
1,3517.0,Derek Abdella,NaN,NaN,NaN,Male,42.0,70.0,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,I have a coach who determines my programming|I...,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|
2,4691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5164.0,Abo Brandon,Southern California,LAX CrossFit,LAX CrossFit,Male,40.0,67.0,NaN,211.0,...,200.0,375.0,325.0,25.0,I eat 1-3 full cheat meals per week|,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|,4+ years|
4,5286.0,Bryce Abbey,NaN,NaN,NaN,Male,32.0,65.0,149.0,206.0,...,150.0,NaN,325.0,50.0,I eat quality foods but don't measure the amount|,I workout mostly at a CrossFit Affiliate|I inc...,I played college sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|I strictly s...,1-2 years|